.project-viewer {
  height: 100%;

  .btn-box {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 46px;
  }

  .main-menu {
    height: calc(100% - 32px);
    width: 100%;
  }
}
