.main-layout {
  padding: 24px 0;
  background: #fff;
  height: 100%;

  .sider {
    background: #fff;
  }

  .main {
    padding: 0 24px;
    height: 100%;

    .scroll-bar {
      height: 100%;
    }
  }
}