.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20% 10%;

  .title {
    margin-bottom: 10%;
    text-align: center;
  }

  button {
    border-radius: calc(100vh);
    background-color:rgb(0, 42, 80);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
  }

  button:active {
    transform: scale(.95);
  }

  button:focus {
    outline: none;
  }
}